.notes input {
    display: none;
}

.notes input:checked ~ .checkbox__checkmark:after {
    transform: scale(1);
}

.notes .checkbox__checkmark {
    pointer-events: none; 
    position: relative;
    margin-top: -26px;
    height: 18px;
    width: 18px;
    border-radius: 11px;
    // transition: background-color 0.75s ease-in;
}

.notes .checkbox__checkmark:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: var(--note-background-color);
    border-radius: 50%;
    transform: scale(0);
    // transition: transform 0.5s ease;
}

.notes.open-note .checkbox__checkmark {
    height: 12px;
    width: 12px;
}

.notes.open-note .checkbox__checkmark::after {
    height: 12px;
    width: 12px;
}

.notes .note-names {
    position: absolute;
    top: 0px;
    left: 0;
    pointer-events: none;
    z-index: 1;
    font-size: 0.75rem;
    margin-left: 5px;
}

.notes .root-note, 
.notes .root-note:after {
    background-color: $red !important;
}

.notes .minor-second,
.notes .minor-second:after {
    background-color: $dissonant-1 !important;
}

.notes .second,
.notes .second:after {
    background-color: $red-orange !important;
}

.notes .minor-third,
.notes .minor-third:after {
    background-color: $dissonant-2 !important;
}

.notes .third, 
.notes .third:after {
    background-color: $orange !important;
}

.notes .fourth, 
.notes .fourth:after {
    background-color: $orange-yellow !important;
}

.notes .tritone, 
.notes .tritone:after {
    background-color: $dissonant-5 !important;
}

.notes .fifth,
.notes .fifth:after {
    background-color: $yellow !important;
}

.notes .minor-sixth,
.notes .minor-sixth:after {
    background-color: $dissonant-3 !important;
}

.notes .sixth, 
.notes .sixth:after {
    background-color: $yellow-green !important;
}

.notes .minor-seventh,
.notes .minor-seventh:after {
    background-color: $dissonant-4 !important;
}

.notes .seventh, 
.notes .seventh:after {
    background-color: $green !important;
}

.notes .blue, 
.notes .blue:after {
    background-color: $blue !important;
}

.notes .yellow, 
.notes .yellow:after {
    background-color: $yellow !important;
}