.notes input {
    display: none;
}

.notes input:checked ~ .checkbox__checkmark:after {
    transform: scale(1);
}

.notes .checkbox__checkmark {
    pointer-events: none; 
    position: relative;
    margin-top: -26px;
    height: 18px;
    width: 18px;
    border-radius: 11px;
    // transition: background-color 0.75s ease-in;
}

.notes .checkbox__checkmark:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: var(--note-background-color);
    border-radius: 50%;
    box-shadow: var(--note-ring);
    transform: scale(0);
    // transition: transform 0.5s ease;
}

.notes.open-note .checkbox__checkmark {
    height: 12px;
    width: 12px;
}

.notes.open-note .checkbox__checkmark::after {
    height: 12px;
    width: 12px;
}

.notes .note-names {
    position: absolute;
    top: 0px;
    left: 0;
    pointer-events: none;
    z-index: 1;
    font-size: 0.75rem;
    margin-left: 5px;
}

@each $name, $color in $degree-colors {
    .notes .#{$name},
    .notes .#{$name}:after {
        background-color: $color !important;
    }

    .degree-dot.#{$name} {
        background-color: $color;
    }
}

.notes .yellow, 
.notes .yellow:after {
    background-color: $yellow !important;
}