.switch-radio {
    display: flex;
    gap: 4px;
}

.switch-radio label,
.custom-radio {
    cursor: pointer;
}

.switch-radio input,
.custom-radio input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.switch-radio .label,
.custom-radio .label {
    border: 3px solid transparent;
    border-radius: 9px;
    background-color: var(--switch-input-background-color);
}

.switch-radio input:checked + .label,
.custom-radio input:checked + .label {
    border-color: $yellow;
    color: var(--accent-text-color);
}

.switch-radio input:focus-visible + .label,
.custom-radio input:focus-visible + .label {
    outline: 2px solid $yellow;
    outline-offset: 2px;
}
