.switch-radio label {
    width: 100%;
    padding: 3px;
    background-color: var(--switch-input-background-color);
    cursor: pointer;
}

.switch-radio label:first-child {
    border-radius: 8px 0 0 8px;
}

.switch-radio label:last-child {
    border-radius: 0 8px 8px 0;
}

.switch-radio input {
    display: none;
}

.switch-radio input:checked + .label {
    background-color: $yellow;
    border-radius: 5px;
    color: $black;
}

.tile-radio {
    display: flex;
    gap: 4px;
}

.tile-radio label,
.custom-radio {
    cursor: pointer;
}

.tile-radio input,
.custom-radio input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.tile-radio .label,
.custom-radio .label {
    border: 3px solid transparent;
    border-radius: 9px;
    background-color: var(--option-background-color);
}

.tile-radio input:checked + .label,
.custom-radio input:checked + .label {
    border-color: $yellow;
    color: var(--accent-text-color);
}

.tile-radio input:focus-visible + .label,
.custom-radio input:focus-visible + .label {
    outline: 2px solid $yellow;
    outline-offset: 2px;
}
