$black: #605d60;

$gray: #393937;
$gray-1: #696d6f;
$gray-2: #605d60;

$red: #ef3d49;
$red-1: #e6484a;
$red-2: #ff8b8a;

$green: #1aa142;

$cyan: #2eb1ad;
$cyan-1: #60bfad;

$yellow: #faae25;
$yellow-1: #f2ab44;

$blue: #005ab1;
$blue-1: #1e5eac;
$blue-2: #14aaf4;
$blue-3: #95e3ff;